:root {
    --primary-color: #00509D;
    --secondary-color: #FFDB57;
    --success-color: #11296B;
    --danger-color: #d4d4d4;
    --warning-color: #E2E8F0;
    --info-color: #EDEDED;
    --black-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Arial, sans-serif;
}

body {
    background-color: var(--danger-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mine-header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid var(--black-color);
    padding: 2px 40px;
    -webkit-text-fill-color: #EDEDED;
    
}
.logo{
    width: 15%;
}

.logo img{
    width: 80px;
}

.nav-links {
   justify-items:flex-end;
   width: 85%;
    display: flex;
    gap:120px;
}

.nav-links a {
    color:var(--black-color);
    text-decoration: none;
    font-weight: 600;
}

.banner {
  width: 100%;
  height: auto;
  display: block;    
}

.main-containers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

}

.card-blue {
    text-align: center;
    background-color: var(--primary-color);
    width: 30%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.301) 10px 10px 20px;
}

.card {
    background-color: var(--warning-color);
    text-align: center;
    width: 30%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.301) 10px 10px 20px;
}

.main-containers h3 {
    color: var(--black-color);
    font-weight: bold;
    margin-bottom: 10px;
}

.card h3 {
   background-color: gray;
   padding: 10px;
   border-radius: 0px 20px 0px 20px;
   padding: 15px 0;
}
.card p {
    color: var(--black-color);
    text-align: left;
    font-weight: 500;
    margin: 10px;
}
.card-blue h3 {
   background-color: var(--success-color);
   padding: 10px;
   border-radius: 0px 20px 0px 20px;
   padding: 15px 0;
}
.card-blue p {
    color: var(--black-color);
    text-align: center;
    font-weight: 500;
}

.card-content {
    background-color: var(--warning-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 25px;
}

.end {    
    background-color: var(--primary-color);
    display: flex;
    text-align: left;
    border-top: 5px solid var(--black-color);
    ;
}