*{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

/* VARIABLES GLOBALES*/
:root{
    --primary-color: #11296B;
    --secundary-color: #00509D;
    --bg-color: #EDEDED;
    --btn-color-primary: #FFCB05;
    --brn-color-secundary: #FFDB57;
}
a{
    text-decoration: none;
    color: var(--bg-color);
}
h3{
    font-size: 1.7rem;
}
p{
    font-size: 1.2rem;
}
img{
    border-radius: 1%;
}
/* NAVBAR RESPONSIVE */
.navbar{
    display: flex;
    justify-content: center;
    background-color: var(--secundary-color);
    color: var(--bg-color)
}
.navbar .container-nav{
    display: flex;
    flex-direction: row;
}

.container-nav li{
    list-style: none;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1.5rem;
    font-size: 20px;
}

/* HEADER */
.grilla-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.servicio-contenedor {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.servicio-contenedor.alto {
    height: 620px;
}

/* --- La imagen --- */
.servicio-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --- La capa oscura superpuesta (Overlay) --- */
.servicio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  
  /* Flexbox para centrar el texto vertical y horizontalmente */
  display: flex; 
  align-items: center;
  justify-content: center;
  
  opacity: 0; 
  transition: opacity 0.4s ease-in-out;
}

.servicio-contenedor:hover .servicio-overlay {
  opacity: 1;
}

/* --- Estilos del texto --- */
.servicio-texto {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

.servicio-texto h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
  color: var(--bg-color);
}

.servicio-texto p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
}